* {
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #eff1ed;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
}

header.shrink {
    animation: shrink 300ms;
    height: 80px;
}

@keyframes shrink {
    0% {
        height: 120px;
    }

    100% {
        height: 80px;
    }
}

header.grow {
    animation: grow 300ms;
    height: 120px;
}

@keyframes grow {
    0% {
        height: 80px;
    }
    100% {
        height: 120px;
    }
}

.nav {
    display: flex;
    height: 100%;
    width: 70%;
    padding: 30px 20px 20px 40px;
    justify-content: center;
    align-items: center;
}

.nav-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 60px;
    align-items: center;
}

.nav-item:first-child {
    margin-left: auto;
}

.nav-item {
    list-style: none;
    margin: 0px 10px;
}

.nav-item > a {
    text-decoration: none;
    color: #637790;
    font-size: 18px;
    transition: all 300ms;
    line-height: 20px;
}

.nav-item > a:hover {
    color: #29bf12;
    font-size: 20px;
}

.logo {
    width: 180px;
    height: 40px;
    object-fit: contain;
    border-radius: 20px;
}

.search-bar_container {
    position: relative;
    width: 20rem;
    background: #29bf12;
    border-radius: 10px;
    height: 40px;
    margin-left: 10px;
}

input[type='search'],
.search-btn {
    height: 40px;
    font-family: Poppins, sans-serif;
    border: 0;
    color: #424242;
}

input[type='search'] {
    outline: none;
    width: 100%;
    padding: 0 1.6rem;
    border-radius: 10px;
    transition: all 300ms;
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

.search-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    font-weight: bold;
    font-size: 16px;
    background: #29bf12;
    border-radius: 0px 10px 10px 0px;
}

input[type='search']:not(:placeholder-shown) {
    border-radius: 10px 0 0 10px;
    width: calc(100% - 50px);
}

input[type='search']:not(:placeholder-shown) + button {
    display: block;
}

label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.login-btn > a {
    display: inline-block;
    width: 100px;
    height: 40px;
    background: linear-gradient(to right, #02b35a, #00843c);
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 20px;
    transition: none;
}

.login-btn > a:hover {
    background: #00843c;
    color: white;
    font-size: 18px;
}

.banner-container {
    background-color: #eff1ed;
    height: 800px;
    width: 100%;
    margin-top: 80px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.banner-container > div {
    background-image: url('/assets/banner7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 70%;
    margin-bottom: 40px;
    width: 60%;
    padding: 40px;
    border-radius: 10px;
}

.banner-slogan {
    text-transform: capitalize;
    font-size: 36px;
    width: 60%;
    text-align: justify;
    color: black;
}

.banner-slogan + p {
    margin-top: 10px;
    width: 60%;
    text-align: justify;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    padding: 20px;
    display: flex;
    position: relative;
    width: 60%;
    height: auto;
}

.content > p {
    width: 70%;
}

.info-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -150px;
    margin-bottom: 200px;
}

.card-container {
    width: 250px;
    height: 300px;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 65px 0 rgba(0, 0, 0, 0.08);
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}

.card-front {
    color: white;
    background-size: cover;
    text-align: center;
}

.card-front > h2 {
    font-size: 32px;
    height: 100%;
    line-height: 300px;
    vertical-align: middle;
}

.card-back {
    transform: rotateY(180deg);
}

.card-container:hover > .card {
    transform: rotateY(180deg);
}

.card-container:nth-child(1) .card-front {
    background-image: url('https://images.unsplash.com/photo-1590330813083-fc22d4b6a48c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.card-container:nth-child(2) .card-front {
    background-image: url('https://images.unsplash.com/photo-1463183547458-6a2c760d0912?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.card-container:nth-child(3) .card-front {
    background-image: url('https://images.unsplash.com/photo-1563865436874-9aef32095fad?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.card-container:nth-child(4) .card-front {
    background-image: url('https://plus.unsplash.com/premium_photo-1669557209110-34d9a507d1f9?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.explore-recipe {
    margin-top: 180px;
}
